force-app/main/default/flows/Email_Bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Shipping_Information</name>
        <label>Send Shipping Information</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Latest_Shipment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>peter.oconnell@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Oscar Wilde</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00XB0000000JCebMAG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Create_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Starting_Conditions</name>
        <label>Check Starting Conditions</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sentiment_is_OK_and_Intent_Data_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Received_Email.intentConfidence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Received_Email.sentiment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Received_Email.sentimentConfidence</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Sentiment is Positive and Intent Data Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Different possible intents</description>
        <name>Intents</name>
        <label>Intents</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feedback</stringValue>
                </rightValue>
            </conditions>
            <label>Feedback</label>
        </rules>
        <rules>
            <name>Product_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Support</stringValue>
                </rightValue>
            </conditions>
            <label>Product Support</label>
        </rules>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Account_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Support</stringValue>
                </rightValue>
            </conditions>
            <label>Account Support</label>
        </rules>
        <rules>
            <name>Setup_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Setup Support</stringValue>
                </rightValue>
            </conditions>
            <label>Setup Support</label>
        </rules>
        <rules>
            <name>Order_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Shipment</targetReference>
            </connector>
            <label>Order Support</label>
        </rules>
        <rules>
            <name>General_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Support</stringValue>
                </rightValue>
            </conditions>
            <label>General Support</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_Email.intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>Other</label>
        </rules>
    </decisions>
    <description>This flow will determine whether or not to send auto-reply emails</description>
    <interviewLabel>Email Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the related Contact record</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intents</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Received_Email.fromAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the latest shipping information</description>
        <name>Get_Latest_Shipment</name>
        <label>Get Latest Shipment</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Shipping_Information</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <sortField>ETA_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Starting_Conditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>If the flow doesn&apos;t identify any automatic responses, then let it create the case automatically</description>
        <name>Create_Case</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Email_Send_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Found_Contact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Found_Shipment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>New_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Email received from the email service along with the Einstein side carts</description>
        <name>Received_Email</name>
        <apexClass>EmailBotObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
